html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}

a, li {
    text-decoration: none;
    list-style-type: none;
    font-family: Monospace;
}

h1 {
    font-family: Monospace;
}

p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.firstLink {
    padding-right: 10px;
}

.header a, header li {
    color: #e0e0e0;
}

.portfolio {
    font-size: 15px;
    color: #ff983f;
}

header {
    display: flex;
    flex-direction: column;
    flex: 1 1 100px;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.header {
    display: flex;
    flex: 0 0 50px;
    padding: 50p 50px;
    justify-content: space-around;
    align-items: center;
    background: #1D1F21;
    font-size: 24px;
    color: white;
}

header ul {
    display: flex;
    gap: 20px;
    font-size: 18px;
    font: white;
}

.banner h1 {
    color: #ff983f;
}

.banner {
    display: flex;
    flex: 1 1 400px;
    padding: 100px 100px 50px 100px;
    justify-content: center;
    align-items: center;
    background: #1D1F21;
    color: white;
    overflow-y: hidden;
}

.bottomBanner {
    padding-bottom: 150px;
}

.bannerLeft {
    flex: 0 1 500px;
    padding: 10px 75px;
    min-width: 430px;
}

button:hover {
    cursor: pointer;
}

.bannerLeft button, .bannerLeft a {
    height: 50px;
    margin-top: 10px;
    width: 125px;
    background-color: #FF6600;
    color: #1D1F21;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
}

.bannerRight {
    display: flex;
    flex: 0 3 250px;
    padding: 10px 75px;
}

.bannerRight img {
    flex: 1 1 300px;
    max-width: 400px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
}

.projectsContainer {
    padding: 0px 0 100px 0;
    background: #1D1F21;
    color: white;
}

.projectsContainer h1 {
    text-align: center;
    margin-bottom: 75px;
    color: #ff983f;
}

.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 150px;
}

.projects a img {
    max-width: 150px;
    border-radius: 10px;
    border: 1px solid black;
}

.gameImage {
    filter: saturate(.7);
}

.goalsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 75px 0;
    background: #e0e0e0;
}

.goals {
    justify-content: center;
    display: flex;
}

.goalsQuote {
    flex: 0 1 900px;
    margin-bottom: 0;
    font-size: 22px;

}

.goalsQuoteAuthor {
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}

footer {
    display: flex;
    justify-content: center;
    background: #e0e0e0;
    border-top: 1px solid rgb(0, 0, 0);
    color: black;
}